In [1]:
import numpy as np
import pylab as pl
import pandas as pd
import datetime
from os import listdir
#from os.path import isfile, join
import glob

%matplotlib inline

In [26]:
savedir = '/home/marslast/Downloads/CTT/'
startdate = "2023-06-17"
startdate = datetime.datetime.strptime(startdate, "%Y-%m-%d").date()
enddate = "2023-06-19"
enddate = datetime.datetime.strptime(enddate, "%Y-%m-%d").date()

In [29]:
gpslist, ndlist, dlist = getFileList(savedir,startdate,enddate)

In [20]:
import os
def getFileList(savedir,startdate,enddate=None):

    if enddate is None:
        enddate = datetime.date.today()

    gpsfiles = glob.glob(os.path.join(savedir,'gps','*.csv.gz'))
    ndfiles = glob.glob(os.path.join(savedir,'node-data','*.csv.gz'))
    dfiles = glob.glob(os.path.join(savedir,'data','*.csv.gz'))

    gpslist = []
    ndlist = []
    dlist = []

    for f in gpsfiles:
        if (datetime.datetime.strptime(f[-24:-14], "%Y-%m-%d").date() > startdate) & (datetime.datetime.strptime(f[-24:-14], "%Y-%m-%d").date() < enddate):
            gpslist.append(f)

    for f in ndfiles:
        if (datetime.datetime.strptime(f[-24:-14], "%Y-%m-%d").date() > startdate) & (datetime.datetime.strptime(f[-24:-14], "%Y-%m-%d").date() < enddate):
            ndlist.append(f)

    for f in dfiles:
        if (datetime.datetime.strptime(f[-24:-14], "%Y-%m-%d").date() > startdate) & (datetime.datetime.strptime(f[-24:-14], "%Y-%m-%d").date() < enddate):
            dlist.append(f)

    return gpslist, ndlist, dlist

In [30]:
def addData(gps,nodedata,data,gpslist,ndlist,dlist):

    if gps is None:
        gps = pd.read_csv(gpslist[0])
        gpslist.pop(0)

    if nodedata is None:
        gps = pd.read_csv(ndlist[0])
        ndlist.pop(0)

    if data is None:
        gps = pd.read_csv(dlist[0])
        dlist.pop(0)

    for f in gpslist:
        df = pd.read_csv(f)
        gps = pd.concat([gps,df],ignore_index=True)

    for f in ndlist:
        df = pd.read_csv(f)
        nodedata = pd.concat([nodedata,df],ignore_index=True)

    for f in dlist:
        df = pd.read_csv(f)
        data = pd.concat([data,df],ignore_index=True)

    return gps, nodedata, data

In [32]:
gps,nodedata,data = addData(None,None,None,gpslist,ndlist,dlist)

In [45]:
nodedata.head()

,Time,RadioId,NodeId,NodeRSSI,Battery,Celsius,RecordedAt,Firmware,SolarVolts,SolarCurrent,CumulativeSolarCurrent,Latitude,Longitude
1029,2023-06-17 22:53:52,1,37736b,-92,3.95,16,2023-06-17 22:53:51,1.16.5,5.50,20,40117205,-41.249804,175.242464
1030,2023-06-17 22:54:10,1,378567,-96,3.52,12,2023-06-17 22:53:42,1.17.5,5.13,15,95143696,-41.250712,175.241600
1031,2023-06-17 22:54:24,1,3765fd,-79,3.70,12,2023-06-17 22:54:23,1.17.5,5.27,16,98073025,-41.251120,175.241232
1032,2023-06-17 22:54:44,1,37506e,-91,3.97,17,2023-06-17 22:54:43,1.17.5,5.61,18,102594165,-41.250800,175.242064
1033,2023-06-17 22:55:04,1,377502,-97,3.52,13,2023-06-17 22:54:25,1.17.5,5.09,12,78803030,-41.248816,175.240000

In [49]:
gps.head()

,Time,RadioId,TagId,TagRSSI,NodeId,Validated,recorded at,gps at,latitude,longitude,altitude,quality,mean lat,mean lng,n fixes
0,2023-06-18 00:54:59,5.0,E6DC65C9,-109.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-06-18 01:00:17,1.0,2A00CC61,-115.0,37858f,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-06-18 01:00:50,5.0,CCB34B87,-98.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-06-18 01:00:56,4.0,FADBE67A,-106.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-06-18 01:04:33,1.0,CB78E661,-115.0,378a8a,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
data.sort_values(by=['Time'],inplace=True)
nodedata.sort_values(by=['Time'],inplace=True)
gps.sort_values(by=['Time'],inplace=True)

In [48]:
data.head()

                   Time  RadioId     TagId  TagRSSI  NodeId  Validated
80  2023-06-17 23:56:19        1  4CADB3F8     -116  378f60          0
79  2023-06-17 23:59:51        5  3CA8A6D0      -98     NaN          0
82  2023-06-18 00:03:37        1  87FF34B3     -118  378f60          0
81  2023-06-18 00:06:06        2  02BFAE19      -98     NaN          0
83  2023-06-18 00:06:40        1  B452B41E     -117  378a8a          0

In [59]:
d = nodedata[nodedata['RadioId']==1]

In [60]:
d.head()

,Time,RadioId,NodeId,NodeRSSI,Battery,Celsius,RecordedAt,Firmware,SolarVolts,SolarCurrent,CumulativeSolarCurrent,Latitude,Longitude
1029,2023-06-17 22:53:52,1,37736b,-92,3.95,16,2023-06-17 22:53:51,1.16.5,5.50,20,40117205,-41.249804,175.242464
1030,2023-06-17 22:54:10,1,378567,-96,3.52,12,2023-06-17 22:53:42,1.17.5,5.13,15,95143696,-41.250712,175.241600
1031,2023-06-17 22:54:24,1,3765fd,-79,3.70,12,2023-06-17 22:54:23,1.17.5,5.27,16,98073025,-41.251120,175.241232
1032,2023-06-17 22:54:44,1,37506e,-91,3.97,17,2023-06-17 22:54:43,1.17.5,5.61,18,102594165,-41.250800,175.242064
1033,2023-06-17 22:55:04,1,377502,-97,3.52,13,2023-06-17 22:54:25,1.17.5,5.09,12,78803030,-41.248816,175.240000

In [62]:
print(np.shape(gps),np.shape(data),np.shape(nodedata))

(64, 15) (196, 6) (1637, 13)

In [88]:
len(np.unique(data.TagId))

196

In [79]:
g = g.dropna(subset=['Time'])

In [92]:
gg = g.dropna(subset=['TagId'])

In [93]:
np.unique(gg.TagId)

array(['00193434', '0710DE55', '19E1E6AA', '1E19CC61', '2A00CC61',
       '3372280C', '33784B66', '401E38AF', '47FA6C05', '494268D2',
       '5233E607', '56409ACD', '664B00E1', '6B04E2DD', 'A4253FB1',
       'A4A762B9', 'ADE6CC78', 'B2FC0AE2', 'B42A8787', 'B90B9981',
       'C01271A0', 'C4EF68B9', 'CB78E661', 'CC9933F8', 'CCB34B87',
       'CD7DFABF', 'E12A07D2', 'E6DC65C9', 'F36CFF2B', 'F661BDCB',
       'F7DAA813', 'FADBE67A'], dtype=object)

In [ ]:
# Tags Ellen put out (24/4/23 -- 19/05/23)
#19523434
#3466612D
#66556134

# Rat tags:
# 2A194B78 19/5/23 1530
# 332D7855 24/5/23 1500
# 19523434 21/6/23 1530